<ion-header>
  <ion-toolbar>
    <ion-title>Transferencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center>
  <ion-list>
      <ion-item>
        <h3>Ingrese el número de cuenta destino</h3>
      </ion-item>
      <ion-item>
          <ion-input placeholder="Destinatario"></ion-input>
        </ion-item>
        <ion-item>
          <h3>Cantidad</h3>
        </ion-item>
        <ion-item>
          <ion-input placeholder="$"></ion-input>
        </ion-item>
  </ion-list>
  <ion-button>Confirmar</ion-button>
</ion-content>
